<!-- CATEGORIES -->
<section class="fluid-container content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="panel-group sidebar-wrap" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" id="headingOne">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Ноутбуки
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" role="tab" id="headingTwo">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Телефоны
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Смартфоны</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" id="headingThree">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Бытовая
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" role="tab" id="headingFour">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Бытовая
                            </a>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="categories-wrap">
                    <div class="category-row">
                        <a class="category-link"><div class="category"><img src="@Url.Content("~/Content/Images/category-1.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        <a class="category-link"><div class="category"><img src="@Url.Content("~/Content/Images/category-2.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        <a class="category-link"><div class="category"><img src="@Url.Content("~/Content/Images/category-3.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        <a class="category-link"><div class="category"><img src="@Url.Content("~/Content/Images/category-4.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                    </div>

                    <div class="category-row">
                        <a class="category-link"><div class="category"><img src="@Url.Content("~/Content/Images/category-1.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        <a class="category-link"><div class="category"><img src="@Url.Content("~/Content/Images/category-2.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        <a class="category-link"><div class="category"><img src="@Url.Content("~/Content/Images/category-3.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        <a class="category-link"><div class="category"><img src="@Url.Content("~/Content/Images/category-4.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END OF CATEGORIES -->