<!-- PRODUCT -->
<div class="fluid-container content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="panel-group sidebar-wrap" id="accordion">
                    <div class="sidebar-title">
                        Категории
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" id="headingOne">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                Ноутбуки
                            </a>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" role="tab" id="headingTwo">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Телефоны
                            </a>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Смартфоны</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" id="headingThree">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Бытовая
                            </a>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" role="tab" id="headingFour">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                Кухня
                            </a>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" id="headingfive">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapsefive">
                                Аудио
                            </a>
                        </div>
                        <div id="collapsefive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" id="headingsix">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapsesix">
                                ТВ
                            </a>
                        </div>
                        <div id="collapsesix" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading category_heading" id="headingseven">
                            <a class="panel-title category_item" data-toggle="collapse" data-parent="#accordion" href="#collapseseven">
                                Спорт
                            </a>
                        </div>
                        <div id="collapseseven" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="subcategory-dropdown">
                                    <li><a href="">Нетбуки</a></li>
                                    <li><a href="">Макбуки</a></li>
                                    <li><a href="">Ноутбуки</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="product-wrap">
                    <div class="product-gal">
                        <div class="product-big-image-wrap">
                            <a href="@Url.Content("~/Content/Images/1.jpg")" class="fancybox">
                                <img src="@Url.Content("~/Content/Images/1.jpg")" class="product-big-image">
                            </a>
                        </div>


                        <div class="product-carousel-wrap">
                            <div class="product-carousel-next-button"><i class="fa fa-angle-right"></i></div>
                            <div class="product-carousel-prev-button"><i class="fa fa-angle-left"></i></div>
                            <div class="product-carousel">
                                <div class="slide-item">
                                    <a href="@Url.Content("~/Content/Images/2.jpg")">
                                        <img src="@Url.Content("~/Content/Images/2.jpg")">
                                    </a>
                                </div>
                                <div class="slide-item">
                                    <a href="@Url.Content("~/Content/Images/3.jpg")">
                                        <img src="@Url.Content("~/Content/Images/3.jpg")">
                                    </a>
                                </div>
                                <div class="slide-item">
                                    <a href="@Url.Content("~/Content/Images/4.jpg")">
                                        <img src="@Url.Content("~/Content/Images/4.jpg")">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-info">
                        <p>Розничная цена</p>
                        <p>501,12 грн.</p>
                        <p>
                            В наличии  Код: Q926-102
                            Оцените товар:
                        </p>
                        <button type="submit" name="addtocart" class="addtocart-button btn" value="Add to Cart" title="Add to Cart">
                            Купить<i class="fa fa-shopping-cart"></i>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<!-- END OF PRODUCT -->