@model IEnumerable<TradingCms.DTOs.CategoryDTO>

<!-- SUBCATEGORIES -->
<section class="fluid-container content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-wrap">
                    <!-- LEFT-SIDEBAR -->
                    <nav class="left-sidebar-wrap">
                        <div class="left-sidebar-title">@ViewBag.TopCategoryName</div>
                        <ul class="left-sidebar-nav">
                            @foreach (var category in Model)
                            {
                                <li class="left-sidebar-nav-li">
                                    <a href="@Url.Action("Subcategories", "Category", new { id = category.Id })" target="_self" title="">
                                        @category.Name
                                        <i class="fa fa-angle-right left-sidebar-nav-li-angle"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>

                    @{
                        <div class="right-content-wrap">
                            @{
                                const int rowCount = 4;
                                var categories = Model.ToList();

                                for (int i = 0; i < categories.Count; i++)
                                {
                                    if (i == 0 || i % rowCount == 0)
                                    {
                                        <div class="category-row">
                                            @{
                                                var j = categories.Count > i + rowCount ? i + rowCount : categories.Count;
                                                for (; i < j; i++)
                                                {
                                                    <div class="sub-category-item">
                                                        <a href="@Url.Action("Subcategories", "Category", new { id = categories[i].Id })">
                                                            <div class="sub-category-link ">
                                                                <img src="@Url.Action("CategoryImage", "api/Images", new { id = categories[i].Id })" alt="">
                                                                <p>@categories[i].Name</p>
                                                            </div>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    }
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF SUBCATEGORIES -->
