<!-- SUBCATEGORIES -->
<section class="fluid-container content-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-wrap">
                    <!-- LEFT-SIDEBAR -->
                    <nav class="left-sidebar-wrap">
                        <div class="left-sidebar-title">
                            Категории
                        </div>
                        <ul class="left-sidebar-nav">
                            <li class="left-sidebar-nav-li left-sidebar-category-1"><a href="" target="_self" title="">Категория-1<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-2"><a href="" target="_self" title="">Категория-2<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-3"><a href="" target="_self" title="">Категория-3<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-4"><a href="" target="_self" title="">Категория-4<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-5"><a href="" target="_self" title="">Категория-5<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-6"><a href="" target="_self" title="">Категория-6<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-7"><a href="" target="_self" title="">Категория-7<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-8"><a href="" target="_self" title="">Категория-8<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-9"><a href="" target="_self" title="">Категория-9<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                            <li class="left-sidebar-nav-li left-sidebar-category-10"><a href="" target="_self" title="">Категория-10<i class="fa fa-angle-right left-sidebar-nav-li-angle"></i></a></li>
                        </ul>
                    </nav>


                    <div class="right-content-wrap">
                        <div class="category-row">
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-1.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-2.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-3.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-4.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        </div>

                        <div class="category-row">
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-1.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-2.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-3.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-4.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        </div>

                        <div class="category-row">
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-1.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-2.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-3.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                            <a><div class="sub-category-link "><img src="@Url.Content("~/Content/Images/category-4.jpg")" alt=""><p>ПодКатегория-1</p></div></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF SUBCATEGORIES -->

